{% extends 'base.html' %}

{% block title %}
Market
{% endblock %}

{% block content %}

<!-- Table -->
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1 class="text-center h3 mt-2">Available Items</h1>
            <table class="table table-dark table-hover mt-3 text-center">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Barcode</th>
                        <th scope="col">Price</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    {% include 'include/more-info-modal.html' %}
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.barcode}}</td>
                        <td>$ {{item.price}}</td>
                        <td>
                            <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#more_info_{{item.id}}">View</button>
                            <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#confirm_purchase_{{item.id}}">Buy</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col">
            <h1 class="text-center h3 mt-2">Owned Items</h1>
            <table class="table table-dark table-hover mt-3 text-center" >
                {% if current_user.items : %}
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                {% else %}
                <p>You don't own any item.</p>
                {% endif %}
                <tbody>
                    {% for item in current_user.items %}
                    {% include 'include/more-info-modal.html' %}
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>$ {{item.price}}</td>
                        <td>
                            <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#more_info_{{item.id}}">View</button>
                            <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#confirm_sell_{{item.id}}">Sell</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>
    
</div>
{% endblock %}